header{
    text-align: center;
    font-weight: normal;
}
h1{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size:300%;
    font-weight: bolder;
}

nav,p{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 120%;
}

body{
    background:linear-gradient(to left,	#EBFEFC, #fefefe);
    }

h2{
    margin: auto;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.texte1{
    float: left;
    font-size: 130%;
    margin-left: 30px;
}
.texte2{
    float:right;
    font-size: 150%;
    margin-left: 30px;
    text-align: left;
}
.image3{
    float:left;
    width: auto;
    height: auto;
}
.image2, .image4{
    float: right;
    width: auto;
    height: auto;
}
.clear{
    clear: both;
}

hr{
    width: auto;
    height: 1px;
}
